<!DOCTYPE html>
<html>
    <head>
        <title>Project: Recipe book</title>
        <meta charset="utf-8">
        <style>
        h1{
            color: rgb(44, 245, 128);
        }
        h2{
            color: rgb(44, 64, 245);
        }
        .pb{
            color: rgb(30, 214, 137);
        }
        </style>
    </head>
    <body>
       
        <h1>Kevin's Recipe Book</h1>
        
        <h2>Contents:</h2>
        
        
        <h2 id="pb&j">PB&J #1</h2>
        
        <ul>
            <li>Time: 5 Minutes</li>
            <li>Serves: One</li>
        </ul>
        
        <table>
            <thead>
                <tr>
                    <th>Ingredients</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bread</td>                             <td>2 Slices </td>
                </tr>
                <tr>
                    <td>Peanut Butter</td>                     <td>3 Tables Spoons</td>               </tr>
                <tr>    
                    <td>Jelly</td>        
                    <td>1 Table Spoon </td>
                </tr>
                
                
            </tbody>
        </table>
        <p class = "pb"><strong>Step 1:</strong>Spread Peaunut Butter on Bread
</p>
<p class = "pb"><strong>Step 2:</strong> Spread Jelly on Bread
</p>
<p class = "pb"><strong>Step 3:</strong> Put Slices together and cut diagnolly
</p>

        <h2 id="spagetti">Spagetti and Meaballs #2</h2>
        
        <ul>
            <li>Time: 45 Minutes</li>
            <li>Serves: 4-6 People</li>
        </ul>
        
        <table>
            <thead>
                <tr>
                    <th>Ingredients</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
               <tr>
                    <td>Spagetti</td>                             <td>4 Ounces </td>
                </tr>
                <tr>
                    <td>Ground Beef</td>                     <td>1 Pound</td>               </tr>
                <tr>    
                    <td>Tomato Sauce</td>        
                    <td>1 Jar </td>
                </tr>
                
               
            </tbody>
        </table>
        <p><strong>Step 1:</strong>Brown Beef Ball Until Medium Well
</p>
<p><strong>Step 2:</strong> Boil Water and Cook Spagetti
</p>
<p><strong>Step 3:</strong> Mix Sauce and Other Ingedients and Serve
</p>

        
        <h2 id="protein_shake">Protein Shake #3</h2>
        
        <ul>
            <li>Time:10 Minutes</li>
            <li>Serves: 1 Serving</li>
        </ul>
        
        
        <table>
            <thead>
                <tr>
                    <th>Ingredients</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                    <td>Banana</td>                             <td>3 Items</td>
                </tr>
                <tr>
                    <td>Peanut Butter</td>                     <td>3 Tables Spoons</td>               </tr>
                <tr>    
                    <td>Milk</td>        
                    <td>4 Ounces </td>
                </tr>
            </tbody>
        </table>
        
<p><strong>Step 1:</strong>Gather Ingredients.
</p>
<p><strong>Step 2:</strong> Peel banana.
</p>
<p><strong>Step 3:</strong> Blend and Serve
</p>

        
    <p><em>Source: <a href="?">Some recipes websites</a></em></p>
    
    </body>
</html>

