<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Project: Travel webpage</title>
        
    <style>
    .beach_description{
        color: rgb(21, 14, 105);
        background-color: rgb(144, 230, 131);
    }
        .beach_local_hotels{
        color: rgb(15, 14, 15);
        background-color: rgb(131, 227, 230);
    }
    </style>    
    
    </head>
    <body>
    
    <h1>Travel to exotic beach location</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Boracay_White_Beach_in_day_%28985286231%29.jpg/270px-Boracay_White_Beach_in_day_%28985286231%29.jpg" alt="Exotic Beach">
    <h2> Package Details </h2>
    <p class = "beach_description">This exotic beach location includes all the inclusive amenities of a packaged resort.<br> You will have all your 
meals provided to you as well as daily drink voucher allotment. <br>Discounts on local tours as well as many of the adrenaline pumping activities of the local<br> enviornment. </p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Batam_Turi_Beach_Hotel.jpg"  alt="Hotel" width = "200">
  <h3> Hotel Offerings </h3>
    <p class = "beach_local_hotels"> The local hotel resort consortium by carnival offers the circus hotel, the cavalier, and the<br> more affordable econo motel. The circus offers a great experience for the whole family.<br> The cavalier is great for couples and honeymooners alike. The econo motel offers an <br> affordable and enjoyable experience for those patrons on a budget.</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/DSCF1252.JPG/1280px-DSCF1252.JPG"  alt="Wind Surfing" width = "200">
    <h4>Things to do</h4>
    <ol>
    <li>Surfing</li>
    <li>Windsailing</li>
    <li>Kite Flying</li>
    <li>Waverunning</li>
    </ol>
    
    <h4>Places to see</h4>
    <ol>
    <li>Mount Cool</li>
    <li>Giant Water Demon Statue</li>
    <li>Cliffs of Awesome</li>
        </ol>
    </body>
</html>