<!--The content below is only a placeholder and can be replaced.-->
<header> 
<div style="text-align:center">
<h1> Welcome to Kevin's Projects Page</h1>  
</div>

<div class = "wrapper">
  
  <aside class = "nav navbar-nav">
    <span class = "nav-item" >
   
    <li>
        <a routerLink = "home-page">Home</a>
    </li>  
      <li>
        <a routerLink = "project1">Project1</a>
    </li>
      <li>
        <a routerLink = "project2"> Project2 </a>
    </li>
    <li>
        <a routerLink = "project3"> Project3 </a>
    </li>

    </span >
  </aside>
  
</div> 
</header>

<section class = "main">
<router-outlet></router-outlet>
</section>  