<html>
    <head>
        <meta charset="utf-8">
        <title>Project: Blog</title>
        <style>
            body{
                font-family: "helvetica";
                font-size: 15px;
                background-color: rgb(155, 204, 175);
            }
            
            h2{
                font-weight: bold;
            }
            h3{
                font-size: 1.6em;
            }
            
        </style>
    </head>
    <body>
        
        <h1>Kevin's blog</h1>
        
        <h3>Contents</h3>
        <ul>
            <li><a href = "#post1">First post! Learning HTML and CSS </a></li>
            <li><a href = "#post2">Second post! Contemplating my Website </a></li>
        </ul>
        
        <h2 id="post1">Learning HTML and CSS</h2>
        <h6>Posted on 02/17/2018</h6>
        
        <p>Today I've spent most of my time learning the fundamentals of HTML and CSS. It has been a bit challenging<br> to learn such a different skillset from the ones that I am use to in my present job, or those things that I have<br> discovered in learning JAVAScript..</p>
        
        
        
        
        
        <h2 id= "post2">Contemplating My Website</h2>
        <h6>Posted on 02/17/2018</h6>
        
        <p>Since I have started working on learning coding and web development, I have wanted to practice my skills<br> on a my own personal website. As I continue through these tutorials, I am becoming more confident in<br> my abilities and am planning on having a venue to demonstrate what I can do.</p>
        
    </body>
</html>
